h1 {
    text-align: center;
}

h3 {
    color: rgb(74, 112, 139);
}

body {
    background-color: aliceblue;
    font-family: Arial, Helvetica, sans-serif;
}

#promptBox {
    margin: auto;
    padding: 20px 40px 60px;
    background-color: white;
    width: 75%;
    box-shadow:0 0 10px 3px lightgrey; 
    border-radius: 5px;
}

textarea {
    height: 150px;
    width: 100%;
    margin: auto;
    border-style: dashed;
    border-color: lightgrey;
    border-radius: 5px;
    text-align: center;

}

hr {
    width:100%;
    border: 1px solid lightgrey;
}

#butt1 {
    background-color: rgb(23, 128, 177);
    text-align: center;
    font-size: 18px;
    padding: 15px 25px;
    border: none;
    border-radius: 25px;
    width: 230px;
    color: white;
    margin-top: 10px;
    
}

#butt2 {
    margin-top: 10px;
    color: white;
    width: 230px;
    background-color: rgb(187, 187, 187);
    text-align: center;
    font-size: 18px;
    padding: 15px 25px;
    border: none;
    border-radius: 25px;
    float: right;
}

#butt1:hover {
    background-color: rgb(3, 69, 114);
}

#butt2:hover {
    background-color: grey;
}

::placeholder {
    color: lightslategrey;
}